<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="mecanum_drive_controller" filename="libgazebo_ros_planar_move.so">
            <ros>
                <namespace>/</namespace>
                <remapping>cmd_vel:=cmd_vel</remapping>
                <remapping>odom:=odom</remapping>
            </ros>

            <alwaysOn>true</alwaysOn>
            <updateRate>100</updateRate>
        
            <!-- Wheel Information -->
            <front_left_joint>front_left_joint</front_left_joint>
            <front_right_joint>front_right_joint</front_right_joint>
            <back_left_joint>back_left_joint</back_left_joint>
            <back_right_joint>back_right_joint</back_right_joint>

            <!-- Limits -->
            <max_wheel_torque>200</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

            
            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>


</robot>